@CHARSET "UTF-8";

/* WebApp useful rules. */
body {
	font: 1em sans-serif;
	line-height: 1.3;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
}
a, canvas {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.modal, .page {
	display:none;
}
.modal.menu {
	background-color: inherit;
}
.modal.menu > * {
	border-radius: 0;
}
