@CHARSET "UTF-8";

/* WebApp useful rules. */
a, canvas {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.modal, .page {
	display:none;
}
.modal {
	background-color: rgba(0,0,0,0.5);
}
.modal.menu {
	background-color: inherit;
}
.modal > * {
	border: 0;
	border-radius: 0.3125em;
	box-shadow: 0 2px 6px rgba(0,0,0,0.6);
}
.page {
	background-color: white;
}
