@CHARSET "UTF-8";

/* WebApp useful rules. */
a, canvas {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.modal, .page {
	display:none;
}
.modal.menu {
	background-color: inherit;
}
.modal.menu > * {
	border-radius: 0;
}
